<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-6234369524145779592bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-6234369524145779592bodyCell" style="height:100%;margin:0;padding:0;width:100%">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top" id="m_-6234369524145779592templateHeader" style="background:#f7f7f7 none no-repeat center/cover;background-color:#f7f7f7;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:54px;padding-bottom:54px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592templateContainer" style="border-collapse:collapse;max-width:600px!important">
                                        <tbody><tr>
                                            <td valign="top" class="m_-6234369524145779592headerContainer" style="background:transparent none no-repeat center/cover;background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-6234369524145779592mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_-6234369524145779592mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-6234369524145779592mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_-6234369524145779592mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                        <img align="center" alt="" src="https://ci6.googleusercontent.com/proxy/uIQVk_6snJ_Ah43w6NpsTdMtS7i61k8fXMUcpsDplAsAn-v9vOWuWAIuHmwT7rlC_rV51juEn2tC-PFQ_SUorevQkQ571CS1Qs-E4xYODoKzO0VCgBU3yXirPsY1wOnQDc9R5c1XxJUFP-9tYKbCJKpWLKQ48m98TRhbEQg=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/3cdaf12c-a054-4a4e-b761-2eea4402f555.png" width="564" style="max-width:2000px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-6234369524145779592mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 599.5px; top: 308.703px;"><div id=":1e0" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-6234369524145779592templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:27px;padding-bottom:54px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592templateContainer" style="border-collapse:collapse;max-width:600px!important">
                                        <tbody><tr>
                                            <td valign="top" class="m_-6234369524145779592bodyContainer" style="background:transparent none no-repeat center/cover;background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-6234369524145779592mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-6234369524145779592mcnTextBlockInner" style="padding-top:9px">



                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-6234369524145779592mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-6234369524145779592mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                            <h1 style="display:block;margin:0;padding:0;color:#222222;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;line-height:150%;letter-spacing:normal;text-align:center">Gracias por contactarnos.</h1>

                        </td>
                    </tr>
                </tbody></table>



            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_-6234369524145779592mcnDividerBlockOuter">
        <tr>
            <td class="m_-6234369524145779592mcnDividerBlockInner" style="min-width:100%;padding:18px 18px 0px">
                <table class="m_-6234369524145779592mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-6234369524145779592mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_-6234369524145779592mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-6234369524145779592mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_-6234369524145779592mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                        <img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/zKiC85C-TxVa863-haBFTR3589cV0Wn9-rg1nL6FDpY1b7PNHd-6qQQlrIfkzNFHQTms77TByFaxtIRrJCMwLiH9sQx61s1UySXfnsYNzA05ljwz1RuI0ElqGmd0yILMhnuGXsHU3So8mdQG3HD8oNPqxKlJ_6NH39XEaa8=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/59fa8fe4-8bc1-4efd-9a73-653a17dfb8ee.jpg" width="564" style="max-width:2000px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-6234369524145779592mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 599.5px; top: 927px;"><div id=":1e1" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-6234369524145779592mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-6234369524145779592mcnTextBlockInner" style="padding-top:9px">



                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-6234369524145779592mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-6234369524145779592mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                            <p style="text-align:justify;margin:10px 0;padding:0;color:#808080;font-family:Helvetica;font-size:16px;line-height:150%">En breve uno de nuestro personal se comunicara con usted, gracias por contactarnos y resolveremos todas sus dudas, Universidad Más Educación y Enseñanza le agradece su tiempo.</p>

                        </td>
                    </tr>
                </tbody></table>



            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_-6234369524145779592mcnDividerBlockOuter">
        <tr>
            <td class="m_-6234369524145779592mcnDividerBlockInner" style="min-width:100%;padding:9px 18px 0px">
                <table class="m_-6234369524145779592mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_-6234369524145779592mcnDividerBlockOuter">
        <tr>
            <td class="m_-6234369524145779592mcnDividerBlockInner" style="min-width:100%;padding:18px 18px 0px">
                <table class="m_-6234369524145779592mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-6234369524145779592templateFooter" style="background:#333333 none no-repeat center/cover;background-color:#333333;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:45px;padding-bottom:63px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592templateContainer" style="border-collapse:collapse;max-width:600px!important">
                                        <tbody><tr>
                                            <td valign="top" class="m_-6234369524145779592footerContainer" style="background:#333333 none no-repeat center/cover;background-color:#333333;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-6234369524145779592mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="m_-6234369524145779592mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
    <tbody><tr>
        <td align="center" style="padding-left:9px;padding-right:9px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_-6234369524145779592mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">





                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_-6234369524145779592mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-6234369524145779592mcnFollowIconContent">
                                                                                    <a href="http://www.facebook.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://www.facebook.com&amp;source=gmail&amp;ust=1488428271542000&amp;usg=AFQjCNFD-y-t_L99sSqGrmqKktV8P2VoGg"><img src="https://ci4.googleusercontent.com/proxy/8j-DDnLusVH50YFUKm2i383mq41zzkTF0OmfaicBkjqbHcMUathKBT2sedC9niEZakoPEtRHargdZ4RbQjfIuq8GbtTu18d89xfHhaPIB2F5Lpp4cNaLZoDImoeXaRHVsy7_i-xdOFXoMg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>






                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_-6234369524145779592mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-6234369524145779592mcnFollowIconContent">
                                                                                    <a href="http://www.twitter.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://www.twitter.com/&amp;source=gmail&amp;ust=1488428271542000&amp;usg=AFQjCNGcTUdBGE5vtnrqfrQNC5InoFiHow"><img src="https://ci6.googleusercontent.com/proxy/eaQG4rpaZxGwH-rEAXH75vzcChjc63kc1kaLs3r7RuNM_pKZzdAi--XXmC7Hshqi15T7UcrQb4-Jyy5uCUL2jnst3AVeYh9BucqKdnT3SWD1LP9xJT3lKcewZZ7CV5wwYQI6moZb1XGb=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-twitter-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>






                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_-6234369524145779592mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-6234369524145779592mcnFollowIconContent">
                                                                                    <a href="http://www.instagram.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://www.instagram.com/&amp;source=gmail&amp;ust=1488428271542000&amp;usg=AFQjCNFcOpdqA87hF2Ctjqwbr-qDkL7Bjg"><img src="https://ci3.googleusercontent.com/proxy/LTqnuW6bD1SXY3wzyRXm28PTDj-ALToQYjl7sjRGkkbtkuA-9cr1kRCIdu3kjlInfnJLuttucJW-5NK93ge4ch_6gAxLV7Y8wpAZFElRA-zCKa7RN6K2IgamPymPTyY5cNfsu4Fj5DMyUT0=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-instagram-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>






                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0;padding-bottom:9px" class="m_-6234369524145779592mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-6234369524145779592mcnFollowIconContent">
                                                                                    <a href="http://mailchimp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://mailchimp.com&amp;source=gmail&amp;ust=1488428271543000&amp;usg=AFQjCNGZawawYldqwB8Vo3T9_iv2p2G8OA"><img src="https://ci5.googleusercontent.com/proxy/5y8PimBRwcJBDb92kgDtUSrz_5KShhUQXNrb_Q28YQUosmMtQUAzDq9N6tEwFsnVGQP4sLp24o68NhNmE3IMgZZ6NHCKjsRv-MAYKV-cZyd_4N9RZ82T8Z0xDMI-awQpxRK2_me4=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>




                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_-6234369524145779592mcnDividerBlockOuter">
        <tr>
            <td class="m_-6234369524145779592mcnDividerBlockInner" style="min-width:100%;padding:18px">
                <table class="m_-6234369524145779592mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #505050;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-6234369524145779592mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-6234369524145779592mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-6234369524145779592mcnTextBlockInner" style="padding-top:9px">



                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-6234369524145779592mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-6234369524145779592mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#ffffff;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

                            <em>Copyright © 2017 UMAEE, Todo los derechos reservados.</em>
                        </td>
                    </tr>
                </tbody></table>



            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody></table>